<header id="header">
    {{!-- nombre y titulo viene de app.js --}}
    <div class="logo"><a href="/">{{titulo}}<span> by {{nombre}}</span></a></div>
    <a href="#menu"><span>Menu</span></a>
</header>